In [52]:
import pandas as pd

CSV = './brickset2017.csv'
lego_df = pd.read_csv(CSV,dtype={'Number': 'object'})
lego_df.head(2)

,SetID,Number,Variant,Theme,Subtheme,Year,Name,Minifigs,Pieces,UKPrice,USPrice,CAPrice,EUPrice,ImageURL,OwnedBy,WantedBy
0,26649,10255,1,Advanced Models,Modular Buildings,2017,Assembly Square,9.0,4002.0,179.99,279.99,339.99,239.99,https://images.brickset.com/sets/images/10255-...,8239,5444.0
1,27618,10256,1,Advanced Models,Buildings,2017,Taj Mahal,NaN,5923.0,299.99,369.99,449.99,329.99,https://images.brickset.com/sets/images/10256-...,1365,1546.0

In [53]:
print("df = degree of freedom")

df = degree of freedom

In [54]:
print('dropna 実行前：', len(lego_df))
lego_df.isnull().sum()

dropna 実行前： 836

SetID         0
Number        0
Variant       0
Theme         0
Subtheme    150
Year          0
Name          0
Minifigs    428
Pieces      295
UKPrice     345
USPrice     272
CAPrice     357
EUPrice     353
ImageURL      0
OwnedBy       0
WantedBy      9
dtype: int64

In [55]:
lego_df.dropna(subset=['Number','USPrice','Pieces'],inplace=True)

print('dropna 実行後',len(lego_df))

lego_df.isnull().sum()

dropna 実行後 430

SetID         0
Number        0
Variant       0
Theme         0
Subtheme    114
Year          0
Name          0
Minifigs     87
Pieces        0
UKPrice      44
USPrice       0
CAPrice      72
EUPrice      47
ImageURL      0
OwnedBy       0
WantedBy      0
dtype: int64

In [56]:
lego_df.set_index('Number',inplace=True)
lego_df.head(2)

,SetID,Variant,Theme,Subtheme,Year,Name,Minifigs,Pieces,UKPrice,USPrice,CAPrice,EUPrice,ImageURL,OwnedBy,WantedBy
Number,,,,,,,,,,,,,,,
10255,26649,1,Advanced Models,Modular Buildings,2017,Assembly Square,9.0,4002.0,179.99,279.99,339.99,239.99,https://images.brickset.com/sets/images/10255-...,8239,5444.0
10256,27618,1,Advanced Models,Buildings,2017,Taj Mahal,NaN,5923.0,299.99,369.99,449.99,329.99,https://images.brickset.com/sets/images/10256-...,1365,1546.0

In [57]:
colums = ['Theme', 'Subtheme', 'Year', 'Name', 'Minifigs', 'Pieces', 'USPrice', 'OwnedBy', 'WantedBy']
lego_df = lego_df[colums]
lego_df.head()

,Theme,Subtheme,Year,Name,Minifigs,Pieces,USPrice,OwnedBy,WantedBy
Number,,,,,,,,,
10255,Advanced Models,Modular Buildings,2017,Assembly Square,9.0,4002.0,279.99,8239,5444.0
10256,Advanced Models,Buildings,2017,Taj Mahal,NaN,5923.0,369.99,1365,1546.0
10257,Advanced Models,Fairground,2017,Carousel,7.0,2670.0,199.99,3743,2951.0
10258,Advanced Models,Vehicles,2017,London Bus,NaN,1686.0,139.99,3829,2366.0
10259,Advanced Models,Winter Village,2017,Winter Village Station,5.0,902.0,79.99,5445,1941.0

In [58]:
lego_df.describe().round(1)

         Year  Minifigs  Pieces  USPrice  OwnedBy  WantedBy
count   430.0     343.0   430.0    430.0    430.0     430.0
mean   2017.0       2.9   376.8     39.4   2386.7     761.0
std       0.0       2.2   688.4     59.9   1762.6     632.8
min    2017.0       1.0     4.0      4.0     28.0      21.0
25%    2017.0       1.0    72.2     10.0    977.8     363.0
50%    2017.0       2.0   174.5     20.0   1975.5     571.0
75%    2017.0       4.0   396.8     50.0   3466.5     986.2
max    2017.0      19.0  7541.0    800.0   9871.0    5444.0

In [59]:
lego_df['UnitPrice'] = round(lego_df['USPrice'] / lego_df['Pieces'], 4)
lego_df[['Pieces', 'USPrice', 'UnitPrice']].head(3)

        Pieces  USPrice  UnitPrice
Number
10255   4002.0   279.99     0.0700
10256   5923.0   369.99     0.0625
10257   2670.0   199.99     0.0749

In [60]:
lego_df.describe().round(1)

         Year  Minifigs  Pieces  USPrice  OwnedBy  WantedBy  UnitPrice
count   430.0     343.0   430.0    430.0    430.0     430.0      430.0
mean   2017.0       2.9   376.8     39.4   2386.7     761.0        0.2
std       0.0       2.2   688.4     59.9   1762.6     632.8        0.2
min    2017.0       1.0     4.0      4.0     28.0      21.0        0.0
25%    2017.0       1.0    72.2     10.0    977.8     363.0        0.1
50%    2017.0       2.0   174.5     20.0   1975.5     571.0        0.1
75%    2017.0       4.0   396.8     50.0   3466.5     986.2        0.2
max    2017.0      19.0  7541.0    800.0   9871.0    5444.0        1.5